# CubeIDE workspace metadata
.metadata/

# Build outputs
blinky/Debug/
blinky/Release/

# CubeIDE settings that are machine specific
blinky/.settings/

# Object files and dependency files
*.o
*.d
*.su

# Compiled output
*.elf
*.bin
*.hex
*.map
*.list
blinky/*_FLASH.ld
blinky/*_RAM.ld

